<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>webforms</h1>

        <form method="POST">

            {{NFO.name.label}}:
{{NFO.name}} <br><br>
 <!-- if we give {{NFO.name}} then only input box field we will get -->
 <!-- NFO.name.label will define the object name label  -->
{{NFO.submit}}


        </form>


    </center>
</body>
</html>